<div class="modal @(Fade ? "fade" : string.Empty)" id="@ModalId"
     tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      @m_modalHeader
      @m_modalBody
      @m_modalFooter
    </div>
  </div>
</div>
