@inject IJSRuntime JSRuntime

<div class="card mb-3 mx-auto" style="width: 18rem;">
    <img class="card-img-top" alt="Error" src="@ErrorImageUrl">
    <div class="card-body">
      <h5 class="card-title">An error has occurred</h5>
      <p class="card-text">@ErrorMessage</p>
      <a href="#" class="btn btn-primary" @onclick="RefreshButtonClickHandler">Refresh</a>
    </div>
</div>

@code
{
  private const string ErrorImageUrl = "https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/dialog-error-icon.png";

  [Parameter]
  public string ErrorMessage { get; set; } = string.Empty;

  private async Task RefreshButtonClickHandler()
  {
    await JSRuntime.InvokeVoidAsync("window.location.reload", false);
  }

} 